In [19]:
import pandas as pd
from src.vectorization import Vectorization
from src.user_operations import UserOperations
from src.vectorization import Vectorization
from src.recommendation import Recommendation

user_operations = UserOperations()
vectorizer = Vectorization()
recommendation = Recommendation(vectorizer)

In [2]:

import sqlite3

db_path = './data/books.db'

# Connect to the database
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

conn.close()

In [3]:
from src.vectorization import Vectorization

# Configuration for TF-IDF vectorization
config = {"max_features": 50}

# Initialize the Vectorization class
vectorizer = Vectorization(config=config)

# Load the dataset
vectorizer.load_data("./data/books.csv")

# Vectorize the 'Description' column
vectorizer.vectorize_text(column="description")

# One-hot encode the 'Genres' column
vectorizer.vectorize_categorical(column="genres")

# Scale numeric data for 'Rating', 'Pages', and 'Year Published'
vectorizer.scale_numeric(column="rating")

# Retrieve vectorized data and feature names
data = vectorizer.get_vectorized_data()
features = vectorizer.get_feature_names()

# Print results
print("Vectorized Data:")
print(data)

print("\nFeature Names:")
print(features)

vectorizer.add_vectorized_data_to_df()

Vectorized Data:
[[ 0.4067143   0.          0.          0.          0.26657076  0.54685784
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.54685784  0.          0.
   0.          0.          0.          0.          0.4067143   0.
   0.          0.          1.          0.          0.          0.
   0.          0.          0.          0.         -1.13793103]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.37930447  0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.32244345  0.37930447  0.
   0.          0.          0.          0.          0.          0.
   0.          0.18489537  0.          0.          0.          0.
   0.          0.37930447  0.37930447  0.          0.          0.
   0.          0.          0.37930447  0.          0.          0.28209992
   0.25080704  0.          0.          1.          0.          0.
   0.          0.          0.          0.          0.93103448]
 [ 0.44519938  0.          0.          0.          0.29179485  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.59860391  0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.59860391
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          1.          0.
   0.          0.          0.          0.          0.24137931]
 [ 0.30932107  0.          0.41590534  0.          0.20273679  0.
   0.          0.          0.          0.          0.          0.41590534
   0.          0.41590534  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.41590534
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.30932107  0.
   0.2750086   0.          1.          0.          0.          0.
   0.          0.          0.          0.         -0.10344828]
 [ 0.          0.          0.          0.          0.26148461  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.53642384  0.          0.          0.          0.          0.
   0.          0.53642384  0.          0.          0.          0.
   0.          0.26148461  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.53642384  0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          1.          0.          0.5862069 ]
 [ 0.          0.37930447  0.          0.          0.          0.
   0.37930447  0.          0.37930447  0.          0.          0.
   0.          0.          0.          0.          0.37930447  0.
   0.          0.          0.          0.32244345  0.          0.
   0.          0.          0.          0.37930447  0.          0.
   0.          0.18489537  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.28209992
   0.25080704  0.          0.          0.          0.          1.
   0.          0.          0.          0.          1.27586207]
 [ 0.          0.          0.          0.3248666   0.15835914  0.
   0.          0.          0.          0.          0.3248666   0.
   0.          0.          0.          0.          0.          0.3248666
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.15835914  0.3248666   0.3248666   0.3248666   0.
   0.3248666   0.          0.          0.          0.3248666   0.
   0.3248666   0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          1.         -0.44827586]
 [ 0.          0.          0.          0.          0.          0.
   0.          0.39536209  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.39536209  0.          0.          0.
   0.39536209  0.          0.39536209  0.          0.          0.
   0.          0.1927228   0.          0.          0.          0.39536209
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.2614248   0.33609389  0.          0.          0.          0.
   1.          0.          0.          0.          1.27586207]
 [ 0.          0.          0.          0.          0.21738252  0.
   0.          0.          0.          0.          0.          0.
   0.4459504   0.          0.4459504   0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.4459504   0.
   0.          0.21738252  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.4459504   0.          0.          0.33166646  0.
   0.          0.          0.          0.          0.          0.
   0.          1.          0.          0.         -0.79310345]
 [ 0.          0.          0.          0.          0.22363747  0.
   0.          0.          0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.          0.45878215  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.
   0.45878215  0.22363747  0.          0.          0.          0.
   0.          0.          0.          0.          0.          0.45878215
   0.          0.          0.          0.          0.          0.34120981
   0.          0.39000674  1.          0.          0.          0.
   0.          0.          0.          0.         -1.82758621]]

Feature Names:
['about', 'adventurous', 'american', 'an', 'and', 'angst', 'baggins', 'beginning', 'bilbo', 'deep', 'desert', 'discontents', 'discovery', 'dream', 'dreams', 'dystopian', 'earth', 'epic', 'exploration', 'gripping', 'harry', 'in', 'injustice', 'its', 'journey', 'love', 'magical', 'middle', 'mystical', 'novel', 'obsession', 'of', 'on', 'planet', 'politics', 'potter', 'power', 'powerful', 'racial', 'rebellion', 'religion', 'revenge', 'saga', 'self', 'south', 'standing', 'story', 'tale', 'the', 'with', 'genres_Fiction|Classic', 'genres_Fiction|Classic|Historical', 'genres_Fiction|Dystopian|Political', 'genres_Fiction|Fantasy', 'genres_Fiction|Fantasy|Young Adult', 'genres_Fiction|Philosophical', 'genres_Fiction|Romance|Classic', 'genres_Fiction|Sci-Fi', 'rating']

In [4]:
user_operations.overwrite_books_table(vectorizer.df)

In [5]:
vectorizer.df['vector'][0]

array([ 0.4067143 ,  0.        ,  0.        ,  0.        ,  0.26657076,
        0.54685784,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        ,  0.        ,  0.54685784,
        0.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.4067143 ,  0.        ,  0.        ,  0.        ,
        1.        ,  0.        ,  0.        ,  0.        ,  0.        ,
        0.        ,  0.        ,  0.        , -1.13793103])

In [6]:
vectorizer.df

,title,short_title,title_seo,genres,author,description,rating,vector
0,The Catcher in the Rye,Catcher in the Rye,catcher-in-the-rye,Fiction|Classic,J.D. Salinger,A story about teenage angst and rebellion.,4.2,"[0.40671429877457116, 0.0, 0.0, 0.0, 0.2665707..."
1,To Kill a Mockingbird,Mockingbird,to-kill-a-mockingbird,Fiction|Classic|Historical,Harper Lee,A powerful tale of racial injustice in the Dee...,4.8,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, ..."
2,1984,1984,1984,Fiction|Dystopian|Political,George Orwell,A dystopian novel about totalitarianism and su...,4.6,"[0.4451993784548529, 0.0, 0.0, 0.0, 0.29179484..."
3,The Great Gatsby,Gatsby,the-great-gatsby,Fiction|Classic,F. Scott Fitzgerald,A story about the American dream and its disco...,4.5,"[0.3093210679583885, 0.0, 0.4159053436456811, ..."
4,Pride and Prejudice,Pride,pride-and-prejudice,Fiction|Romance|Classic,Jane Austen,A witty exploration of love and social standing.,4.7,"[0.0, 0.0, 0.0, 0.0, 0.2614846128082285, 0.0, ..."
5,The Hobbit,Hobbit,the-hobbit,Fiction|Fantasy,J.R.R. Tolkien,The adventurous tale of Bilbo Baggins in Middl...,4.9,"[0.0, 0.37930446635125814, 0.0, 0.0, 0.0, 0.0,..."
6,Dune,Dune,dune,Fiction|Sci-Fi,Frank Herbert,"An epic saga of politics, religion, and power ...",4.4,"[0.0, 0.0, 0.0, 0.3248665992872113, 0.15835913..."
7,Harry Potter and the Sorcerer's Stone,Harry Potter,harry-potter,Fiction|Fantasy|Young Adult,J.K. Rowling,The beginning of a magical journey with Harry ...,4.9,"[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.39536208..."
8,The Alchemist,Alchemist,the-alchemist,Fiction|Philosophical,Paulo Coelho,A mystical story of self-discovery and dreams.,4.3,"[0.0, 0.0, 0.0, 0.0, 0.21738252427028854, 0.0,..."
9,Moby Dick,Moby,moby-dick,Fiction|Classic,Herman Melville,A gripping tale of revenge and obsession with ...,4.0,"[0.0, 0.0, 0.0, 0.0, 0.22363747404465084, 0.0,..."

In [ ]:
import pandas as pd
query = """
Select * from books
"""
cursor.execute(query)
print(cursor.fetchall())
cursor.execute(query)

# Fetch all data and column names
rows = cursor.fetchall()
columns = [description[0] for description in cursor.description]

# Create a DataFrame
df = pd.DataFrame(rows, columns=columns)

# Display the DataFrame
print(df)

In [ ]:
df

In [ ]:
from src.user_operations import UserOperations

In [ ]:
vector = vectorizer.df['vector'][2]

### Get closest vector to user

In [ ]:
vector = user_operations.get_vector_by_user_id(1)

In [ ]:
vector

In [ ]:
vector_list = user_operations.get_all_vectors()

In [ ]:
vector_list

In [ ]:
book_id = vectorizer.find_closest_vector(vector,vector_list)[1]

In [ ]:
book = user_operations.get_book_by_id(book_id)

In [ ]:
user_operations.update_user_vector_by_id(1, vector)

In [ ]:
vector

In [ ]:
conn.execute("""
                select * from books where id = ?
            """, str(book_id)).fetchall()

In [ ]:
vectors = conn.execute("""
    SELECT * FROM Books 
""").fetchall()
vectors

In [ ]:
book_title = "The Hobbit"
book_index = vectorizer.df[vectorizer.df["Title"] == book_title].index[0]
book_vector = vectorizer.get_vector_for_book(book_index)

print(f"Vector for '{book_title}':", book_vector)

In [5]:
# Path to the database file
DB_PATH = "./data/books.db"
import sqlite3

# Connect to the database
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()
query = """
Select * from users
"""
cursor.execute(query)
print(cursor.fetchall())

[(1, 'Alice', '[0.4451993784548529, 0.0, 0.0, 0.0, 0.29179484767964314, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5986039092300627, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5986039092300627, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.24137931034482854]'), (3, 'Bob', 'null')]

In [ ]:

user_operations.update_user_vector_by_id(1, vector)

In [ ]:
gemini_api = 'AIzaSyCXK9zjDJEpN9-2fPmERCOAd2HnFMkqyvw'

In [ ]:
from openai import OpenAI
client = OpenAI()

|

In [ ]:
import os
gemini_api_key = os.getenv("GEMINI_API_KEY")

json_config =  {
  "gemini_api_key": gemini_api_key
}

In [ ]:
print(gemini_api_key)

In [ ]:
    from src.gemini import Gemini
    
    gemini_bot = Gemini(json_config)

In [ ]:
response = gemini_bot.query_gemini("test")

In [ ]:
print(response)

In [ ]:
def parse_text(query):
    print(query['candidates'][0]['content']['parts'][0]['text'])

In [ ]:
parse_text(response)

In [ ]:
response

In [ ]:
import sqlite3

# Path to your SQLite database file
DB_PATH = './data/books.db'

# Sample book data to be inserted into the database
book_data = [
    ("The Catcher in the Rye", "Catcher in the Rye", "catcher-in-the-rye", "Fiction|Classic", "J.D. Salinger", "A story about teenage angst and rebellion.", 4.2),
    ("To Kill a Mockingbird", "Mockingbird", "to-kill-a-mockingbird", "Fiction|Classic|Historical", "Harper Lee", "A powerful tale of racial injustice in the Deep South.", 4.8),
    ("1984", "1984", "1984", "Fiction|Dystopian|Political", "George Orwell", "A dystopian novel about totalitarianism and surveillance.", 4.6),
    ("The Great Gatsby", "Gatsby", "the-great-gatsby", "Fiction|Classic", "F. Scott Fitzgerald", "A story about the American dream and its discontents.", 4.5),
    ("Pride and Prejudice", "Pride", "pride-and-prejudice", "Fiction|Romance|Classic", "Jane Austen", "A witty exploration of love and social standing.", 4.7),
    ("The Hobbit", "Hobbit", "the-hobbit", "Fiction|Fantasy", "J.R.R. Tolkien", "The adventurous tale of Bilbo Baggins in Middle-earth.", 4.9),
    ("Dune", "Dune", "dune", "Fiction|Sci-Fi", "Frank Herbert", "An epic saga of politics, religion, and power on a desert planet.", 4.4),
    ("Harry Potter and the Sorcerer's Stone", "Harry Potter", "harry-potter", "Fiction|Fantasy|Young Adult", "J.K. Rowling", "The beginning of a magical journey with Harry Potter.", 4.9),
    ("The Alchemist", "Alchemist", "the-alchemist", "Fiction|Philosophical", "Paulo Coelho", "A mystical story of self-discovery and dreams.", 4.3),
    ("Moby Dick", "Moby", "moby-dick", "Fiction|Classic", "Herman Melville", "A gripping tale of revenge and obsession with a white whale.", 4.0)
]

# Connect to the SQLite database (it will create the file if it doesn't exist)
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

# Create the Books table if it doesn't exist
cursor.execute("""
CREATE TABLE IF NOT EXISTS Books (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    title TEXT NOT NULL,
    short_title TEXT,
    title_seo TEXT,
    genres TEXT,
    author TEXT,
    description TEXT,
    rating REAL
);
""")

# Insert the book data into the Books table
cursor.executemany("""
INSERT INTO Books (title, short_title, title_seo, genres, author, description, rating)
VALUES (?, ?, ?, ?, ?, ?, ?);
""", book_data)

# Commit the transaction and close the connection
conn.commit()
conn.close()

print("Books data successfully inserted into the database.")

In [ ]:
import sqlite3

# Path to the database file
DB_PATH = "./data/books.db"

# Connect to the database
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

In [ ]:
conn = sqlite3.connect(DB_PATH)
cursor = conn.cursor()

# Fetch all books
cursor.execute("SELECT description FROM Books;")
books = cursor.fetchall()

for book in books:
    print(book)

conn.close()

In [ ]:
from src.user_operations import UserOperations

In [ ]:
# Initialize the database

db = UserOperations()

In [ ]:
# Add users
user_operations.add_user("Alice", vector=None)

In [ ]:
db.add_user("Bob")


# Track books read by users
db.track_book_reading("Alice", "1984")
db.track_book_reading("Alice", "The Great Gatsby")

# Get user vector
print("Alice's vector:", db.get_user_vector("Alice"))

# Get books read by Alice
print("Books read by Alice:", db.get_books_read_by_user("Alice"))

# Close the database connection
db.close()

In [ ]:
import sqlite3
# Connect to the SQLite database (it will create the file if it doesn't exist)
db_path = './data/books.db'
conn = sqlite3.connect(db_path)
cursor = conn.cursor()

In [ ]:
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Display table names
print("Tables in the database:")
for table in tables:
    print(table[0])

In [ ]:
query = """
Select * from Books
"""
cursor.execute(query)
print(cursor.fetchall())

In [ ]:
import os
gemini_api_key = os.getenv("GEMINI_API_KEY")

json_config =  {
  "gemini_api_key": gemini_api_key
}

In [ ]:
from src.gemini import Gemini

gemini_bot = Gemini(json_config)

In [5]:

books = user_operations.get_books_read_by_user_id( 1)

#gemini_bot.ask_for_reccomendation(self, read_book_ids, vector_recomnedation_book_id, param_book_df)

In [6]:
books

   user_id  book_id
0        1        1

In [4]:
user_operations.get_book_by_id(1)

[(1,
  'The Catcher in the Rye',
  'Catcher in the Rye',
  'catcher-in-the-rye',
  'Fiction|Classic',
  'J.D. Salinger',
  'A story about teenage angst and rebellion.',
  4.2,
  '[0.40671429877457116, 0.0, 0.0, 0.0, 0.26657076043535793, 0.5468578371137843, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.5468578371137843, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.40671429877457116, 0.0, 0.0, 0.0, 1.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, -1.1379310344827556]')]

In [2]:
user_operations.track_book_reading(1,1)

In [13]:
import pandas as pd
cursor = conn.cursor()
query = """
Select * from user_books
"""
cursor.execute(query)
print(cursor.fetchall())

[(1, 1, 1)]

In [ ]:
books = user_operations.get_books_read_by_user_id( 1)

In [13]:
read_book_ids = books['book_id'].tolist()  # Convert the 'book_id' column to a list

In [21]:
read_book_ids
recommendation.recommend( 1, top_k=10)

NotImplementedError: This is a placeholder for future implementation.

In [ ]:
ask_for_reccomendation(self, read_book_ids, vector_recomnedation_book_id, param_book_df):